@charset "UTF-8";
/*!=================-FONTS-=================!*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**======================-ШРИФТЫ_ПОДКЛЮЧАЕМЫЕ-=================*/
/**======================-ШРИФТЫ_ПО_УМОЛЧАНИЮ-=================*/
/*!=================RESET=================!*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/** Выставляем дефолтное значения для возможности корректно использовать единицы em, rem*/
html {
  font-size: 16px;
}

/** Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  min-width: 650px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
}

/** Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/** Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/** Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/** Для элементов a, у которых есть класс, убираем подчеркивание*/
a[class] {
  text-decoration: none;
}

/** Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/** Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/** Наследуем шрифты для инпутов и кнопок*/
input,
button,
textarea,
select {
  font: inherit;
}

.h1,
.h2,
.user-name,
.legend-price-value,
.card-value {
  color: #1b1d21;
}

.status,
.link-page {
  color: #808191;
}

.link-nav {
  color: rgba(255, 255, 255, 0.4);
}

.link-page:active {
  color: #1b1d21;
}

/*!=================-TYPOGRAPHY-=================!*/
.h1,
.card-value {
  font-family: "Poppins", sans-serif;
}

.h1 {
  font-weight: 600;
  font-size: clamp(1.1rem, 0.5vw + 1rem, 1.45831rem);
  line-height: 133%;
}

.h2 {
  font-weight: 600;
  font-size: 0.972225rem;
  line-height: 150%;
}

.link-nav,
.status,
.card-name {
  font-size: 0.72916875rem;
  line-height: 167%;
}

.link-nav,
.card-name {
  font-weight: 500;
}

.user-name,
.legend-price-value,
.months {
  font-size: 0.85069375rem;
  line-height: 171%;
}

.user-name,
.legend-price-value {
  font-weight: 600;
}

.status,
.link-page,
.months {
  font-weight: 400;
}

.card-value {
  font-weight: 500;
  font-size: clamp(1.2rem, 1.1vw + 1rem, 1.94444rem);
  line-height: 151%;
  letter-spacing: -0.015625em;
}

.link-page {
  font-size: 1.09375rem;
  line-height: 178%;
  letter-spacing: -0.01em;
}

body {
  background-color: #f8fafc;
  color: #808191;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 82.639%;
          flex: 1 1 82.639%;
}

@media (max-width: 650px) {
  .container {
    margin: 0px 0px 0px 60px;
  }
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  padding: 85.56px 0px 0px 0px;
}

.page-wrap {
  padding: 85.56px 38.89px 0px 19.44px;
}

/**======================-HEADER-=================*/
.page-header {
  position: fixed;
  right: 0;
  width: 82.639%;
}

.page-header__title {
  padding: 0px 0px 0px 35.11px;
}

@media (max-width: 1015px) {
  .page-header__title {
    padding: 0px;
  }
}

.page-header__wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 77.78px;
  max-height: 77.78px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 0px 45.69px 0px 19.44px;
}

@media (max-width: 546px) {
  .page-header__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }
}

.page-header,
.page-header__wrap {
  -webkit-box-shadow: 0px 3.889px 18.472px rgba(0, 99, 231, 0.05);
          box-shadow: 0px 3.889px 18.472px rgba(0, 99, 231, 0.05);
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__list--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 546px) {
  .user-nav__list--user {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.user-nav__main {
  padding: 0px 35px;
}

.user-nav__list--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__list--main > *:not(:last-child) {
  padding: 0px 15.56px 0px 0px;
}

.user-nav__link--inbox, .user-nav__link--notificate {
  display: block;
  width: 38.89px;
  height: 38.89px;
  border-radius: 50%;
}

.user-nav__link--inbox {
  background: #f9f9f9 url(../img/user/icon/inbox.svg) no-repeat center;
}

.user-nav__link--notificate {
  background: #f9f9f9 url(../img/user/icon/notification.svg) no-repeat center;
}

.user-nav__link {
  color: #808191;
}

.user-nav__item--dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-nav__btn-more {
  border: none;
  outline: none;
  width: 13px;
  height: 8px;
  background: transparent url(../img/user/icon/arrow.svg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.user-nav__btn-more.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.user-nav__link--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__avatar {
  border-radius: 50%;
  background-color: #e7faff;
}

.user-nav__user-data {
  margin: 0px 15.56px;
}

.user-nav__list--settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: center;
  z-index: 15;
  background-color: rgba(116, 128, 143, 0.3);
  width: 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  right: 1%;
  top: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3.889px 18.472px #e7faff;
          box-shadow: 0px 3.889px 18.472px #e7faff;
  -webkit-transform: translate(1500%);
          transform: translate(1500%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.user-nav__list--settings.active {
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.user-nav__link--settings {
  color: #1b1d21;
}

.icon-menu {
  display: block;
  position: absolute;
  top: 40%;
  left: 15px;
  width: 23.33px;
  height: 23.33px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  right: 0px;
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #1b1d21;
  border-radius: 0.972px;
}

.icon-menu span:first-child {
  top: 0px;
  width: 50%;
}

.icon-menu span:last-child {
  top: 20px;
  width: 80%;
}

.icon-menu.active span:first-child {
  -webkit-transform: rotate(-12deg) translate(-12px, 4px);
          transform: rotate(-12deg) translate(-12px, 4px);
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(12deg) translate(-13px, -8px);
          transform: rotate(12deg) translate(-13px, -8px);
  width: 50%;
}

@media (max-width: 1023px) {
  .icon-menu {
    display: none;
  }
}

.page-nav {
  background-color: #ffffff;
  height: 85.56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 38.89px;
  white-space: nowrap;
}

@media (max-width: 1015px) {
  .page-nav {
    padding: 0px 38.89px 0px 19.44px;
  }
}

.page-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-nav__item {
  padding: 0px 19.445px;
}

@media (max-width: 1015px) {
  .page-nav__item {
    padding-left: 0px;
  }
}

.page-nav__link {
  position: relative;
}

.page-nav__link--active, .page-nav__link:hover {
  color: #1b1d21;
  font-weight: 500;
}

.page-nav__link--active::after, .page-nav__link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.94px;
  background-color: #1b1d21;
  border-radius: 0.972222px;
  position: absolute;
  -webkit-transform: translate(0, 1.6rem);
          transform: translate(0, 1.6rem);
}

.main-nav-panel {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.94%, #181053), color-stop(17.1%, #301840), color-stop(62.89%, #3f033b), color-stop(110.93%, #592635));
  background: linear-gradient(180deg, #181053 -21.94%, #301840 17.1%, #3f033b 62.89%, #592635 110.93%);
  min-height: 100vh;
  min-width: 17.361%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 17.361%;
          flex: 1 0 17.361%;
  padding: 15.6px 15.6px 27.42px 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
  z-index: 10;
}

@media (max-width: 650px) {
  .main-nav-panel {
    position: fixed;
  }
}

.main-nav-panel__logo {
  padding: 15.6px;
  margin: 0px 0px 23.33px 0px;
}

.main-nav-panel__logo.active {
  margin-bottom: 10px;
  padding: 0px;
}

.main-nav-panel__logo--big.active {
  display: none;
}

.main-nav-panel__logo--mini {
  display: none;
}

.main-nav-panel__logo--mini.active {
  display: inline;
  min-width: 30px;
}

.main-nav-panel__main-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-nav-panel__btn-settings-wrap {
  border: 0.97222px solid rgba(255, 255, 255, 0.08);
  border-radius: 7.77778px;
  width: 100%;
  padding: 7.79px 0px;
}

.main-nav-panel__btn-settings-wrap:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.main-nav-panel__btn-settings-wrap:hover .btn-settings {
  color: #ffffff;
}

.main-nav-panel.active * {
  font-size: 0;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.972222px;
  background-color: rgba(230, 232, 236, 0.06);
}

.main-nav__item--active, .main-nav__item {
  position: relative;
}

.main-nav__item--active .main-nav__link, .main-nav__item:hover .main-nav__link {
  color: #ffffff;
}

.main-nav__item--active .main-nav__indicator, .main-nav__item:hover .main-nav__indicator {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  background-color: #ffffff;
  width: 1.94px;
  height: 19.44px;
  border-radius: 1.94444px;
}

.main-nav .main-nav__item.main-nav__item--active::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  background-color: #ffffff;
  width: 1.94px;
  height: 19.44px;
  border-radius: 1.94444px;
}

.main-nav__link {
  padding: 9.72px 0px 9.445px 0px;
}

.main-nav__dashboard, .main-nav__store, .main-nav__products, .main-nav__catalogs, .main-nav__market {
  width: 19.44px;
  height: 19.44px;
  padding: 9.72px;
  margin: 0px 11.67px 0px 15.56px;
}

.main-nav__dashboard {
  background: url(../img/sidebar/dashboard.svg) no-repeat center;
}

.main-nav__store {
  background: url(../img/sidebar/store.svg) no-repeat center;
}

.main-nav__products {
  background: url(../img/sidebar/products.svg) no-repeat center;
}

.main-nav__catalogs {
  background: url(../img/sidebar/digital-catalogs.svg) no-repeat center;
}

.main-nav__market {
  background: url(../img/sidebar/market.svg) no-repeat center;
}

.main-nav.active .main-nav__list {
  margin-top: 40px;
}

.main-nav.active .main-nav__item:not(:last-child) {
  padding: 0px 0px 15px 0px;
}

.main-nav.active .main-nav__item::before {
  display: none;
}

.main-nav.active .main-nav__item--active .main-nav__indicator,
.main-nav.active .main-nav__item:hover .main-nav__indicator {
  display: none;
}

.main-nav.active .main-nav__item.main-nav__item--active::before {
  display: none;
}

.main-nav.active .main-nav__dashboard,
.main-nav.active .main-nav__store,
.main-nav.active .main-nav__products,
.main-nav.active .main-nav__catalogs,
.main-nav.active .main-nav__market {
  margin: 0px;
}

.btn-settings {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  padding: 0px;
}

.btn-settings__icon {
  width: 19.44px;
  height: 19.44px;
  padding: 9.72px;
  margin: 0px 11.67px 0px 15.56px;
  background: url(../img/sidebar/settings.svg) no-repeat center;
}

.main-nav-panel.active {
  min-width: 6%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6%;
          flex: 0 0 6%;
  padding: 15.6px 10px 27.42px 10px;
  text-align: center;
}

.main-nav-panel.active .main-nav-panel__btn-settings-wrap {
  border: none;
}

.main-nav-panel.active .btn-settings__icon {
  margin: 0px;
}

.financial-indicators {
  padding: 48px 0px;
}

@media (max-width: 1015px) {
  .financial-indicators {
    margin: 0 auto;
    max-width: 68.663rem;
  }
}

.financial-indicators__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1015px) {
  .financial-indicators__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.financial-indicators__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23.33px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1.94444px 13.6111px rgba(0, 99, 231, 0.06);
          box-shadow: 0px 1.94444px 13.6111px rgba(0, 99, 231, 0.06);
  border-radius: 23.3333px;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

@media (max-width: 1014px) {
  .financial-indicators__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    margin: 7.78px 19.54px 7.78px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1015px) {
  .financial-indicators__item:not(:last-child) {
    margin: 0px 19.54px 0px 0px;
  }
}

.financial-indicators__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 15.56px 0px;
}

.financial-indicators__icon {
  width: 23.33px;
  height: 23.33px;
  border-radius: 7.778px;
  margin: 0px 7.78px 0px 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.financial-indicators__icon--sales {
  background: #53d86a url(../img/financial-indicators/dollar.svg) no-repeat center;
}

.financial-indicators__icon--revenue {
  background: #fe9526 url(../img/financial-indicators/ticket-star.svg) no-repeat center;
}

.financial-indicators__icon--profit {
  background: #ffcb2f url(../img/financial-indicators/net-profit.svg) no-repeat center;
}

.financial-indicators__icon--aov {
  background: #167ffc url(../img/financial-indicators/average-order-value.svg) no-repeat center;
}

.financial-indicators__icon--refunds {
  background: #fd3d39 url(../img/financial-indicators/refunds.svg) no-repeat center;
}

/*!=================-SCHEDULE-=================!*/
.sales-report {
  max-width: 68.663rem;
  background-color: #ffffff;
  padding: 38.89px;
  border-radius: 38.8889px;
  margin: 0px auto;
}

.sales-report__title {
  padding: 0px 0px 38.89px 0px;
}

.sales-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales-schedule__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sales-schedule__graph {
  height: 233.33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sales-schedule__graph-bar {
  width: 11.42px;
  background-color: rgba(108, 93, 211, 0.12);
  position: relative;
}

.sales-schedule__graph-bar:not(:last-child) {
  margin-right: 2.019%;
}

.sales-schedule__graph-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6c5dd3;
  border-radius: 11.6667px 11.6667px 0px 0px;
}

.legend-price {
  margin: 0px 29.17px 15.55px 0px;
}

.legend-price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.legend-price__item {
  text-align: right;
}

.legend-price__item:not(:last-child) {
  padding: 0px 0px 23.33px 0px;
}

.legend-date {
  margin: 15.56px 0px 0px 0px;
}

.legend-date__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**======================-FOOTER-=================*/
