// /**======================-МИКСИНЫ-=================*/
@import "./base/settings";
// **======================-ШРИФТЫ-=================*/
@import "./base/fonts";
/**======================-ШРИФТЫ_ПОДКЛЮЧАЕМЫЕ-=================*/

/**======================-ШРИФТЫ_ПО_УМОЛЧАНИЮ-=================*/
$font-family: "Inter", sans-serif;

//**======================-ОБНУЛЕНИЕ-=================*/
$min-width: 650px;
@import "./base/reset";

//**======================-ПЕРЕМЕННЫЕ-=================*/
@import "./base/colors";
@import "./base/typography";

//**======================-ОБЩИЕ_ПАРАМЕТРЫ-=================*/

body {
  background-color: $bg;
  color: $text;
}

//**======================-УПАКОВКА-=================*/
.wrapper {
  display: flex;
  min-height: 100vh;
}
//**======================-ОСНОВНАЯ_СЕТКА-=================*/
.container {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  overflow: auto;
  flex: 1 1 82.639%;
  @media (max-width: 650px) {
    margin: 0px 0px 0px 60px;
  }
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page {
  padding: 85.56px 0px 0px 0px;
}

.page-wrap {
  padding: 85.56px 38.89px 0px 19.44px;
}

//**======================-НЕЗАВИСИМЫЕ_БЛОКИ-=================*/

//**======================-ПОДКЛЮЧЕНИЕ_СТИЛЕЙ-=================*/
@import "./section/header";
@import "./section/sidebar";
@import "./section/cards";
@import "./section/graph";
@import "./section/footer";
