// /**======================-МИКСИНЫ-=================*/
@import "./base/settings";
// **======================-ШРИФТЫ-=================*/
@import "./base/fonts";
/**======================-ШРИФТЫ_ПОДКЛЮЧАЕМЫЕ-=================*/

/**======================-ШРИФТЫ_ПО_УМОЛЧАНИЮ-=================*/
$font-family: "Inter", sans-serif;

//**======================-ОБНУЛЕНИЕ-=================*/
$min-width: 320px;
@import "./base/reset";

//**======================-ПЕРЕМЕННЫЕ-=================*/
@import "./base/colors";
@import "./base/typography";

//**======================-ОБЩИЕ_ПАРАМЕТРЫ-=================*/

body {
  background-color: $bg;
  color: $text;

  @media (max-width: 767px) {
    &.lock {
      overflow: hidden;
    }
  }
}

//**======================-УПАКОВКА-=================*/
.wrapper {
}
//**======================-ОСНОВНАЯ_СЕТКА-=================*/
.container {
  max-width: 1187px;
  // 1187px;74.1875rem
  padding: 0px 15px;
  margin: 0 auto;
  // box-sizing: content-box;
}

// responsive images
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

//**======================-НЕЗАВИСИМЫЕ_БЛОКИ-=================*/

//**======================-ПОДКЛЮЧЕНИЕ_СТИЛЕЙ-=================*/
@import "./section/header";
@import "./section/sidebar";
@import "./section/graph";
@import "./section/footer";
