/**======================-HEADER-=================*/

.page-header {
  position: fixed;
  right: 0;
  width: 82.639%;

  &__title {
    padding: 0px 0px 0px 35.11px;
    @media (max-width: 1015px) {
      padding: 0px;
    }
  }
  &__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    min-height: 77.78px;
    max-height: 77.78px;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    padding: 0px 45.69px 0px 19.44px;
    @media (max-width: 546px) {
      flex: 0 0 0;
    }
  }
}
.page-header,
.page-header__wrap {
  box-shadow: 0px 3.889px 18.472px $shadow;
}

.user-nav {
  display: flex;
  align-items: center;
  &__list {
  }
  &__list--user {
    display: flex;
    align-items: center;
    @media (max-width: 546px) {
      flex: 0 0 100%;
    }
  }
  &__main {
    padding: 0px 35px;
  }
  &__list--main {
    display: flex;
  }
  &__list--main > *:not(:last-child) {
    padding: 0px 15.56px 0px 0px;
  }
  &__item {
  }
  &__item--user {
  }
  &__link--inbox,
  &__link--notificate {
    display: block;
    width: 38.89px;
    height: 38.89px;
    border-radius: 50%;
  }
  &__link--inbox {
    background: $bg-link url(../img/user/icon/inbox.svg) no-repeat center;
  }

  &__link--notificate {
    background: $bg-link url(../img/user/icon/notification.svg) no-repeat center;
  }
  &__link {
    color: $text;
  }

  &__list--user {
  }

  &__item--dropdown {
    display: flex;
    flex-direction: column;
  }
  &__btn-more {
    border: none;
    outline: none;
    width: 13px;
    height: 8px;
    background: transparent url(../img/user/icon/arrow.svg);
    transition: all 0.3s linear;
    cursor: pointer;
    &.active {
      transform: rotate(-90deg);
    }
  }
  &__link--user {
    display: flex;
  }

  &__avatar {
    border-radius: 50%;
    background-color: $bg-avatar;
  }
  &__user-data {
    margin: 0px 15.56px;
  }
  &__username {
  }

  &__status {
  }

  &__list--settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    z-index: 15;
    background-color: $shadow-3;
    width: 10%;
    height: fit-content;
    padding: 10px;
    right: 1%;
    top: 80%;
    border-radius: 10px;
    box-shadow: 0px 3.889px 18.472px $bg-avatar;
    transform: translate(1500%);
    transition: all 0.3s linear;
    &.active {
      transform: translate(-10px);
    }
  }

  &__link--settings {
    color: $text-bold;
  }
}

.icon-menu {
  display: block;
  position: absolute;
  top: 40%;
  left: 15px;
  width: 23.33px;
  height: 23.33px;
  cursor: pointer;
  z-index: 5;
  span {
    transition: all 0.3s ease 0s;
    top: 8px;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: $text-bold;
    border-radius: 0.972px;
    &:first-child {
      top: 0px;
      width: 50%;
    }
    &:last-child {
      top: 20px;
      width: 80%;
    }
  }
  &.active {
    span {
      &:first-child {
        transform: rotate(-12deg) translate(-12px, 4px);
      }
      &:last-child {
        transform: rotate(12deg) translate(-13px, -8px);
        width: 50%;
      }
    }
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.page-nav {
  // position: fixed;
  // z-index: 2;
  // width: 82.639%;
  // width: 100%;
  // right: 0;
  background-color: $light;
  height: 85.56px;
  display: flex;
  align-items: center;
  padding: 0px 38.89px;
  white-space: nowrap;
  @media (max-width: 1015px) {
    padding: 0px 38.89px 0px 19.44px;
  }
  &__list {
    display: flex;
    // height: 100%;
  }
  &__item {
    padding: 0px 19.445px;
    @media (max-width: 1015px) {
      padding-left: 0px;
    }
    // margin: auto 0px;
  }

  &__link {
    // display: block;
    position: relative;
  }
  &__link--active,
  &__link:hover {
    color: $text-bold;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1.94px;
      background-color: $text-bold;
      border-radius: 0.972222px;
      position: absolute;
      transform: translate(0, 1.6rem);
    }
  }
}
