// /*!=================-SIDEBAR-=================!*/
.main-nav-panel {
  background: $bg-sidebar;
  min-height: 100vh;
  min-width: 17.361%;
  flex: 1 0 17.361%;
  padding: 15.6px 15.6px 27.42px 17.5px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  z-index: 10;
  @media (max-width: 650px) {
    position: fixed;
  }
  &__logo {
    padding: 15.6px;
    margin: 0px 0px 23.33px 0px;
  }
  &__logo {
    &.active {
      margin-bottom: 10px;
      padding: 0px;
    }
  }
  &__logo--big {
    &.active {
      display: none;
    }
  }
  &__logo--mini {
    display: none;
    &.active {
      display: inline;
      min-width: 30px;
    }
  }
  &__main-nav {
    flex-grow: 1;
  }
  &__btn-settings-wrap {
    border: 0.972222px solid $border-settings;
    border-radius: 7.77778px;
    width: 100%;
    padding: 7.79px 0px;
  }
  &__btn-settings-wrap:hover {
    border-color: $light-alfa;
    .btn-settings {
      color: $light;
    }
  }
}

.main-nav-panel.active * {
  font-size: 0;
}
.main-nav {
  &__list {
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.972222px;
    background-color: $line-nav;
  }

  &__item--active,
  &__item {
    position: relative;
  }

  &__item--active,
  &__item:hover {
    .main-nav {
      &__link {
        color: $light;
      }
      &__indicator {
        content: "";
        position: absolute;
        right: 0;
        display: block;
        background-color: $light;
        width: 1.94px;
        height: 19.44px;
        border-radius: 1.94444px;
      }
    }
  }

  .main-nav__item.main-nav__item--active::before {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    background-color: $light;
    width: 1.94px;
    height: 19.44px;
    border-radius: 1.94444px;
  }

  &__link {
    padding: 9.72px 0px 9.445px 0px;
  }

  &__dashboard,
  &__store,
  &__products,
  &__catalogs,
  &__market {
    width: 19.44px;
    height: 19.44px;
    padding: 9.72px;
    margin: 0px 11.67px 0px 15.56px;
  }
  &__dashboard {
    background: url(../img/sidebar/dashboard.svg) no-repeat center;
  }

  &__store {
    background: url(../img/sidebar/store.svg) no-repeat center;
  }

  &__products {
    background: url(../img/sidebar/products.svg) no-repeat center;
  }

  &__catalogs {
    background: url(../img/sidebar/digital-catalogs.svg) no-repeat center;
  }

  &__market {
    background: url(../img/sidebar/market.svg) no-repeat center;
  }
}
.main-nav.active {
  .main-nav__list {
    margin-top: 40px;
  }
  .main-nav__item:not(:last-child) {
    padding: 0px 0px 15px 0px;
  }
  .main-nav__item::before {
    display: none;
  }
  .main-nav__item--active,
  .main-nav__item:hover {
    .main-nav__indicator {
      display: none;
    }
  }
  .main-nav__item.main-nav__item--active::before {
    display: none;
  }
  .main-nav__dashboard,
  .main-nav__store,
  .main-nav__products,
  .main-nav__catalogs,
  .main-nav__market {
    margin: 0px;
  }
}
.btn-settings {
  border: none;
  outline: none;
  background-color: transparent;
  color: $light-alfa;
  padding: 0px;

  &__icon {
    width: 19.44px;
    height: 19.44px;
    padding: 9.72px;
    margin: 0px 11.67px 0px 15.56px;
    background: url(../img/sidebar/settings.svg) no-repeat center;
  }
}
.main-nav-panel.active {
  min-width: 6%;
  flex: 0 0 6%;
  padding: 15.6px 10px 27.42px 10px;
  text-align: center;
  .main-nav-panel__btn-settings-wrap {
    border: none;
  }
  .btn-settings__icon {
    margin: 0px;
  }
}
